@model ToDo.Domain.Entities.ToDoTask

<div class="well">
    <h3>
        <strong>Do kiedy: @Model.RealizationDate</strong>
    </h3>
    <h5>
        Utworzono: @Model.CreatingDate
        <span class="pull-right">
            Zrealizowano:
            @if (Model.RealizationState.ToString() == "True")
            {
                <span class="label label-success"> Tak </span>
            }
            else
            {
                <span class="label label-danger"> Nie </span>
            }
        </span> 
    </h5>
    <span class="lead">@Model.Description</span>
</div>